@import url(../node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import "custom";

main {
  margin-bottom: 250px;
}

footer {
  padding: 15px;
  position: absolute;
  //   bottom: 0;
  width: 100%;
}
p {
  font-family: $font-family-serif;
  font-size: 18px;
}
.hero-scene {
  background-image: url(../images/DALL·E\ 2024-06-01\ 10.54.52\ -\ photos\ of\ food.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
